/* 
*{
    margin: 0;
} */

header{
    height: 70px;
}
aside{
    width: 150px;
    height: calc(100vh - 70px );
    background-color: rgb(210, 122, 6);
}
main{
    width: 100%;
    height: calc(100vh - 70px);
    background-color: blue;
}