/* ------------- 
    STYLE
 ------------- */
.ms-bg-darkblue{
    background-color: #051e34;
}
.ms-bg-bluebtn{
    background-color: #165bba;
}


/* ------------- 
    GENERAL
 ------------- */

header{
    height: 70px;
}
aside{
    width: 150px;
    height: calc(100vh - 70px );
    background-image: url(img/sidebar-bg.png);
    
}
main{
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #f8f9fa;
    overflow-y: auto;
}

ul{
    list-style: none;
}
  .custom-img {
    width: 26px;
    height: 26px;
}

@media screen and (max-width: 768px){
    aside{
        width: 80px ;
        margin: 0 auto;
    }
    aside p{
        display: none;
    }
}

@media (min-width: 768px) {
    .offcanvas-end {
        width: 70%;
    }
}
/* ------------- 
    HOVER
 ------------- */


 aside li:hover{
   
    background-color: rgba(255, 250, 255, 0.5);
    border-radius: 30px;
 }
tr:hover:not(thead tr){
    background-color: rgba(0, 0, 0, 0.1);
}
tr i:hover{
    opacity: 0.5;
 }